.title{
    margin: 50px 0px;
    text-align: center;
}
.paragraph{
    text-align: center;
}
@media only screen and (min-width: 768px) {
    .parent{
        margin: 20px 0px;
        display: flex;
    }
    .image {
        width: 50%
    }
    
    .text{
        width: 50%;
    }

  }