.Chart {
    width: 85%;
    margin: 10px 25px;
}

.ChartParent{
    background-color: rgb(240,240,240);
}

@media only screen and (min-width: 768px) {
    .Chart {
        width: 45%;
        margin: 10px 25px;
    }
    
    .ChartParent{
        display: flex;
        margin: 50px 20px;
    }
}